
  <%= form_with(model: @feed, local: true,url:choose_new_or_edit) do |form| %>
  <div class="field">
    <strong><%= form.label :image %></strong>
      <br>
        <%= image_tag (@feed.image.url), size: '320x240' if @feed.image && @feed.image.url%>
        <%= form.file_field :image %>
        <%= form.hidden_field :image_cache %>
      <br>
      <br>
    <div class="field">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to "一覧画面にもどる", feeds_path %>
