<h2>確認画面</h2>
<%= form_with(model: @feed, local: true) do |form| %>
  <!-- 確認画面でアップロードした画像を表示させるための記述 -->
  <!--<%= image_tag(@feed.image.url)if @feed.image && @feed.image.url%>-->
   <%= image_tag (@feed.image.url), size: '320x240' if @feed.image && @feed.image.url%>
  
   <p class="abc"><strong>内容: <%= @feed.content %></strong></p>
  
   <%= form.hidden_field :content %>
  <br>
  <br>

  <%= form.hidden_field :image_cache %>
  <%= form.submit "投稿する" %>
<% end %>
   <%= link_to "投稿画面に戻る", new_feed_path%>
<br>
<!--<%= form_with(model:@feed, url:new_feed_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "戻る", name: "back" %>
#<% end %>-->