<h2>確認画面</h2>
  <%= form_with(model: @feed, local: true) do |form| %>
    <%= image_tag (@feed.image.url), size: '320x240' if @feed.image && @feed.image.url%>
    <p class="abc"><strong>内容: <%= @feed.content %></strong></p> 
    <%= form.hidden_field :content %>
    <br>
    <br>
    <%= form.hidden_field :image_cache %>
    <%= form.submit "投稿する" %>
  <% end %>
    <%= link_to "投稿画面に戻る", new_feed_path%>
<br>