
<p id="notice"><%= notice %></p>
<p>
  <strong>Image:</strong>
  <br>
  <%= image_tag (@feed.image.url), size: '320x240' if @feed.image && @feed.image.url%>
</p>
<p class="abc">内容: <%= @feed.content %></p>
<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
    

